* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fdf4ec;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
  order: 1;
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 500px;
  margin: 0;
  padding: 0;
  order: 2;
}

.navbar-menu li {
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
}

.navbar-menu ul {
  display: flex;
  align-items: center;
}

.navbar-icons-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 3;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-right: 15px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fdf4ec;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .collection-tag {
    color: #f9a825;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    color: #2d2d2d;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  
  .hero-description {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 30px;
    margin-left: 70px;
    font-size: 18px;
  }
  
  .shop-button {
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-left: 70px;
  }
  
  .shop-button:hover {
    background-color: #e65c00;
  }
  
  .hero-image img {
    max-width: 100%;
    border-radius: 50px;
    margin-right: 50px;
  }

  .hero-image {
    width: 600px;
    height: 600px;
  }

  .feature-list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .feature-card {
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
  }
  
  h3 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  p {
    margin: 0;
    text-align: left;
  }
  
  .bg-light-green {
    background-color: #E3F9F2;
  }
  
  .bg-light-yellow {
    background-color: #FFF7D6;
  }
  
  .bg-light-blue {
    background-color: #E6F3FF;
  }

.center-align {
  text-align: center;
  margin-bottom: 20px;
}

  .collection-card {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    width: 90%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .image-container {
    overflow: hidden;
    border-bottom: 2px solid #f1f1f1;
  }
  
  .image-container img {
    width: 60%;
    height: auto;
    margin-left: 100px;
  }

  .collection-content {
    padding: 20px;
    text-align: center;
  }
  
  .collection-content h2 {
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .collection-content p {
    font-size: 16px;
    color: #555555;
    text-align: right;
  }

  .collection-card:nth-child(3) {
    flex-direction: row-reverse;
  }

  .collection-card:nth-child(3) p {
    text-align: left;
    margin-left: 50px;
  }

  .collection-card:nth-child(3) h2 {
    text-align: left;
    margin-left: 50px;
  }

  .explore-button {
    position: relative;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    z-index: 1;
    color: #e65c00;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .explore-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #fad977; 
  }

  .explore-button:hover {
    background-color: #fad977; 
    color: #e65c00;
  }

  .trends {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .trending-products {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .icon-button {
    background-color: hsl(27, 93%, 49%);
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 200px;
   }

   .image-container-btm {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container-btm img {
    width: 25%;
    height: 100px; 
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    width: 23%;
  }
  
  .footer-section h2, .footer-section h3 {
    margin-bottom: 20px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }

  .hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

@media only screen and (max-width: 450px) {

    .hamburger-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    .navbar-menu {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #fdf4ec;
      padding: 20px;
      border: 1px solid #ddd;
      width: 230px;
    }
  
    .navbar-menu.show-menu {
      display: block;
      height: 50vh;
      overflow-y: auto;
    }
  
    .navbar-menu ul {
      list-style: none;
      flex-direction: column;
      padding: 0;
      margin: 0;
      align-items: flex-start;
    }
  
    .navbar-menu li {
      margin-bottom: 10px;
    }

    .navbar-menu li:hover {
      color: #00698f;
    }

    .navbar-icons {
      margin-top: 15px;
    }

    .icon-button-btn {
      margin-top: 20px;
      margin-right: 20px;
    }
    .menu-content {
      margin-top: 20px;
    }
  
  .hero-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .hero-content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .collection-tag {
    margin-left: 0;
  }

  .hero-title {
    font-size: 2rem;
    margin-left: 0;
    text-align: center;
  }

  .hero-description {
    font-size: 1rem;
    margin-left: 0;
  }

  .shop-button {
    margin-left: 0;
  }

  .hero-image img {
    max-width: 100%;
    margin-right: 0;
  }

  .feature-list {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    width: 100%;
    margin: 20px 0;
  }

  .collection-card {
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
  }

  .collection-card:nth-child(3) {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    margin-left: 0;
  }

  .collection-content {
    padding: 20px;
    text-align: center;
  }

  .trending-products {
    padding: 20px;
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}
